.profile {
	background: url(../img/profileHeaderBackground.png) repeat-x;
	padding: 10px;
	border: 1px solid #eae9e9;
}

.profile .profileHeader .userProfileInfo {
	width: 250px;
    padding-top: 15px;
    margin-left: 15px;
    display: inline-block;
}

.profile .profileHeader .userProfileInfo h1 {
	color: #fff;
	font-weight: normal;
    font-size: 120%;
    margin: -5px 0 5px 0;
    padding-bottom: 8px;
}

.profile .profileHeader .userProfileInfo .location {
	color: #8b8b8b;
	background: url(../img/location.png) no-repeat;
	text-indent: 20px;
}

.profile .profileHeader .subscribeButton {
	font-family: Helvetica Neue, Arial, sans-serif;
    font-size:90%;
    color: #049394;
	width: 130px;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
	height: 36px;
	margin-top: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	float: right;
	border: 1px solid #e2e2e2;
	text-transform: uppercase;
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 1%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 1%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 1%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 1%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 1%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.headline {
	color: #8b8b8b;
	text-align: center;
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 115%;
}

.profileTabs {
	margin-bottom: 60px;
}

.profileTabs .posts {
	width: 168px;
	height: 50px;
	float: left;
	background: #fff;
	padding-top: 10px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.profileTabs .posts > h3 {
	background: url(../img/postIcon.png) no-repeat;
	height: 25px;
	width: 100px;
	text-align: center;
	margin: 0 auto;
	font-weight: normal;
	color: #049394;
	font-size: 120%;
}

.profileTabs .posts > h4 {
	font-size: 85%;
	color: #707070;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

.profileTabs .subscribers {
	width: 168px;
	height: 50px;
	float: left;
	background: #f7f6f6;
	padding-top: 10px;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.profileTabs .subscribers > h3 {
	background: url(../img/subscribersIcon.png) no-repeat left top;
	height: 25px;
	width: 100px;
	text-align: center;
	margin: 0 auto;
	font-weight: normal;
	color: #049394;
	font-size: 120%;
}

.profileTabs .subscribers > h4 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 85%;
	color: #707070;
}

.profileTabs .subscribedTo {
	width: 170px;
	height: 50px;
	float: left;
	background: #f7f6f6;
	padding-top: 10px;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.profileTabs .subscribedTo > h3 {
	background: url(../img/subscribersToIcon.png) no-repeat;
	height: 25px;
	width: 100px;
	text-align: center;
	margin: 0 auto;
	font-weight: normal;
	color: #049394;
	font-size: 120%;
}

.profileTabs .subscribedTo > h4 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 85%;
	color: #707070;
}

/*only display on hover*/
.editDelete {
	font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 75%;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: normal;
	float: left;
	display: none;
}

.editDelete a {
	text-decoration: none;
	color: #049293;
}

